.form {
    max-width: 500px;
    margin: 2.5% auto;
    padding: 0 10px;
  }
  
  input {
    border-radius: 8px;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 1rem;
  }
  
  input[type="text"] {
    height: 40px;
    padding: 0.5rem 1rem;
    border: 1px solid #999;
  }
  
  .add {
    /* background-color: #000000; */
    background-color: green;
    border: none;
    color: #fff;
    padding: 0.5rem 1rem;
    height: 40px;
    cursor: pointer;
    width: 100%;
    border-radius: 8px;
  }
  
  input:focus {
    outline: none;
    border-color: #000000;
  }
  
  input[type="checkbox"] {
    display: inline-block;
    width: auto;
  }
  